.control-label {
  right: -50%;
  position: relative;
}

.selectize-control {
  left: 10%;
  position: relative;
}

.irs {
  left: 5%;
  position: relative;
}

.panel {
  opacity: 0.70;
}

.panel:hover {
  opacity: 0.95;
  background-color: #D3D3D3
  transition-delay: 0;
}
